<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="sDatabase" value="D:\Robotics\Logs\KRMSGNET.mdb"/>
		<add key="sexclude" value="c:\temp\exclude.csv"/>
		<add key="sPortID" value="9040"/>
		<add key="sDBsizeCtrl" value="true"/>
		<add key="sDBBuffersize" value="90"/>
		<add key="sDBCmpDate" value="Wednesday"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
